<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>

<body>

    <div class="centre" align="center">
        <form name="fo" method="POST" action="">
            <h2>Inscription</h2>
            <br><br>
            <table>
                <tr>
                    <td align="right">
                        <label for="pseudo">Pseudo :</label>
                    </td>
                    <td>
                        <input type="text" placeholder="Votre pseudo" id="pseudo" name="pseudo">
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="mail">Mail :</label>
                    </td>
                    <td>
                        <input type="text" placeholder="Votre Mail" id="mail" name="mail">
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="mail2">Confimation mail :</label>
                    </td>
                    <td>
                        <input type="email" placeholder="Confirmez votre mail" id="mail2" name="mail2">
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="mdp">Mot de passe :</label>
                    </td>
                    <td>
                        <input class="password" type="password" placeholder="Votre mot de passe" id="mdp" name="mdp">
                        <!-- ICONES -->
                        <div class="password-icon">
                            <img src="https://ibb.co/KF7hsDL" alt="Eye Icon" class="eye" id="eye">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label for="mdp2">Confirmez le mot de passe :</label>
                    </td>
                    <td>
                        <input class="password" type="password" placeholder="Confirmez votre mdp" id="mdp2" name="mdp2">
                        <!-- ICONES -->
                        <div class="password-icon">
                            <img src="https://ibb.co/KF7hsDL" alt="Eye Icon" class="eye" id="eye2">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="inscription" align="center"><br>
                        
                       
                        <button routerLink="page">Sign In</button>
                    </td>
                </tr>
            </table>
        </form>
        <!-- OMBRES -->
        <div class="drop drop-1"></div>
        <div class="drop drop-2"></div>
        <div class="drop drop-3"></div>
        <div class="drop drop-4"></div>
        <div class="drop drop-5"></div>
    </div>

</body>

</html>
